.wrapper {
  @apply w-full flex-col justify-center mb-10 px-4 pb-4 pt-2 text-center transition duration-150 ease-out rounded;
}

.wrapper:hover {
  @apply shadow-lg;
}

.imgWrapper {
  @apply rounded-lg h-40 overflow-hidden;
}

.badgeWrapper {
  @apply font-light text-sm text-gray-500 -mt-1;
}

.title {
  @apply text-3xl font-bold mt-3 inline-block;
}

.description {
  @apply leading-relaxed mt-1;
}

.buttonLinkWrapper {
  @apply flex flex-row items-center mt-6 justify-center;
}

.button {
  @apply flex items-center bg-secondary border-0 mr-4 py-1 px-5 rounded transition duration-100 ease-out;
}

.button:hover {
  @apply bg-primary;
}

.button:focus {
  @apply outline-none;
}

.sourceLink {
  @apply inline-flex items-center;
}

.sourceLink:hover {
  @apply underline text-info;
}

@screen md {
  .wrapper {
    @apply w-1/2 text-left;
  }

  .title {
    @apply mt-5;
  }

  .imgWrapper {
    @apply h-64;
  }

  .buttonLinkWrapper {
    @apply justify-start;
  }
}
