.wrapper {
  @apply flex flex-col pb-20 pt-16 mx-auto px-5;
}

.title {
  @apply text-4xl font-semibold;
}

.date {
  @apply text-gray-500 items-start;
}

.imgWrapper {
  @apply mb-8 py-5 w-full flex flex-col overflow-hidden;
}

.img {
  @apply object-fill mx-auto w-full rounded-md shadow;
  height: 20rem;
}

.imgFromWrapper {
  @apply leading-relaxed text-gray-500 text-center;
}

.imgFromLink {
  @apply text-primary transition-colors duration-75 ease-out;
}

.imgFromLink:hover {
  @apply underline text-info;
}

.article {
  @apply leading-normal mt-5 mb-12 text-justify text-lg;
}

.article p {
  @apply mt-1;
}

.article a {
  @apply text-primary transition-colors ease-out duration-75;
}

.article a:hover {
  @apply underline text-info;
}

.article h1 {
  @apply text-4xl font-semibold mt-2;
}

.article h1 a {
  @apply border-b-0 text-current;
}

.article h1 a:hover {
  @apply text-current no-underline;
}

.article h2 {
  @apply mt-5;
}

.article h2 a {
  @apply border-b-0 text-current;
}

.article h2 a:hover {
  @apply text-current no-underline;
}

.article ul {
  @apply list-disc mb-10;
}

.article li {
  @apply ml-8 transition-colors text-light ease-out duration-75;
}

.article li:hover {
  @apply underline text-info;
}

.article li a {
  @apply text-current;
}

.article li a:hover {
  @apply text-current;
}

.article img {
  @apply object-center mx-auto w-full my-2;
  height: 20rem;
}

.divider {
  @apply border-b-2 border-secondary mb-5;
}

@screen md {
  .wrapper {
    @apply px-64;
  }

  .title {
    @apply text-5xl;
  }

  .imgWrapper {
    @apply mb-0;
  }
}
