@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import "tailwindcss/base";

html {
  scroll-behavior: smooth;
}

*::selection {
  background-color: #EE6C4D;
  color: #E0FBFC;
}

@import "tailwindcss/components";

@layer components {
  .link-external {
    @apply border-b-2 border-light transition ease-in duration-100;
  }

  .link-external:hover {
    @apply border-primary text-info;
  }

  .logo {
    @apply ml-3 text-xl inline-flex font-medium;
  }

  .logo:hover {
    @apply text-info transition duration-300 ease-in;
  }
}

@import "tailwindcss/utilities";
