@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;

html {
  scroll-behavior: smooth;
}

@layer base {
  h1 {
    @apply text-4xl font-semibold;
  }

  h2 {
    @apply text-3xl font-semibold;
  }

  ul {
    @apply list-disc mb-10;
  }

  li {
    @apply ml-8 transition ease-out duration-75 text-lg;
  }

  li:hover {
    @apply text-primary;
  }
}

*::selection {
  background-color: #EE6C4D;
  color: #E0FBFC;
}

@tailwind components;

@layer components {
  .link-external {
    @apply border-b-2 border-light transition ease-in duration-100;
  }

  .link-external:hover {
    @apply border-primary text-info;
  }
}

@tailwind utilities;
