@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;

html {
  scroll-behavior: smooth;
}

@layer base {
  h1 {
    @apply text-4xl font-semibold;
  }

  h2 {
    @apply text-3xl font-semibold;
  }
}

*::selection {
  background-color: #EE6C4D;
  color: #E0FBFC;
}

@tailwind components;

@layer components {
  .link-external {
    @apply text-primary transition-colors ease-in duration-100;
  }

  .link-external:hover {
    @apply underline text-info;
  }

  .link-external:focus {
    @apply ring;
  }
}

@tailwind utilities;
