.logo {
  @apply ml-3 text-xl inline-flex font-medium;
}

.logo:hover {
  @apply text-info transition duration-300 ease-in;
}

.headerWrapper {
  @apply mx-auto flex flex-wrap p-5 flex-col items-center bg-dark;
}

.planet {
  @apply p-1 h-1 bg-primary self-start rounded-full;
}

.planet:hover {
  @apply bg-info;
}

.nav {
  @apply flex flex-wrap items-center text-base justify-center;
}

.navLink {
  @apply mr-5 px-1 transition ease-in-out duration-100;
}

.navLink:hover {
  @apply text-info;
}

.navLink:focus {
  @apply outline-none;
}

.socialWrapper {
  @apply inline-flex items-center text-base mt-4;
}

.icon {
  @apply fill-current h-6 w-6 transition ease-in duration-150;

}

.icon:hover {
  @apply text-info;
}

.footerWrapper {
  @apply px-5 pt-8 pb-16 mx-auto flex items-center flex-col;
}



@screen md {
  .headerWrapper {
    @apply flex-row;
  }

  .nav {
    @apply mr-auto ml-4 py-1 pl-4 border-l border-light;
  }

  .socialWrapper {
    @apply mt-0;
  }

  .footerWrapper {
    @apply flex-row;
  }
}
