.wrapper {
  @apply flex flex-col items-start px-5 mx-auto pb-20;
}

.latestBlogs {
  @apply text-4xl tracking-wide font-semibold;
}

.blogWrapper {
  @apply flex cursor-pointer flex-col flex-wrap mt-3 w-full transition ease-in duration-100;
}

.blogWrapper:hover {
  @apply shadow-lg;
}

.titleWrapper {
  @apply font-medium text-2xl transition ease-out duration-75;
}

.title {
  @apply border-dark border-b-2;
}

.dateTime {
  @apply text-gray-500 flex flex-row;
}

.morePosts {
  @apply pl-2 mt-6 text-lg inline-flex items-center;
}

.morePosts:hover {
  @apply underline text-info;
}

@screen md {
  .wrapper {
    @apply px-56;
  }
}
