.wrapper {
  @apply px-5 pb-24 pt-12 mx-auto;
}

.slugWrapper {
  @apply py-8 flex flex-col flex-wrap transition-shadow ease-out duration-150 border-b border-gray-500;
}

.slugWrapper:hover {
  @apply shadow-lg;
}

.dateTimeWrap {
  @apply mb-6 flex-shrink-0 flex flex-col tracking-wide ml-3;
}

.title {
  @apply text-2xl font-medium mb-1 border-b-2 border-dark transition ease-out duration-75;
}

.title:hover {
  @apply text-info;
}

@screen md {
  .wrapper {
    @apply pl-32 pr-5 pt-24;
  }

  .slugWrapper {
    @apply flex-row flex-no-wrap border-transparent;
  }

  .dateTimeWrap {
    @apply w-1/6 mb-0;
  }
}
