.wrapper {
  @apply px-5 pb-24 pt-5 mx-auto;
}

.slugWrapper {
  @apply py-4 flex flex-col flex-wrap transition-shadow ease-out duration-150;
}

.dateTimeWrap {
  @apply hidden;
}

.title {
  @apply text-xl font-medium mb-1 border-b-2 border-dark transition ease-out duration-75;
}

@screen md {
  .wrapper {
    @apply px-48 pt-7;
  }

  .title {
    @apply text-2xl;
  }

  .slugWrapper {
    @apply flex-row flex-nowrap border-transparent;
  }

  .dateTimeWrap {
    @apply w-1/6 mb-0 flex-col items-start space-x-0 flex flex-shrink-0 tracking-wide ml-3;
  }
}
